<?php
// Configs

$config['key'] = 'XXXXXXXXXXXXX';  // 用于鉴定请求 / Salt ,瞎jb修改为大小写字母数字

$config['bot_token'] = 'your_bot_token';

// Database info
$config['db_host'] = 'localhost';
$config['db_user'] = 'LotteryBot';
$config['db_pass'] = 'password';
$config['db_name'] = 'LotteryBot';
$config['db_char'] = 'utf8';

$config['base_url'] = 'https://example.com/LotteryBot';

$config['curl_timeout'] = 1;

$config['enable_vision_api'] = true;  // 是否启用 Google Cloud Vision API，https://cloud.google.com/vision/
$config['vision_api_key'] = 'xxxxxxxx';